@font-face {
    font-family: NunitoSans-Italic;
    src: url("/fonts/NunitoSans-Italic.ttf");
}
@font-face {
    font-family: NunitoSans-Regular;
    src: url("/fonts/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: YesevaOne-Regular;
    src: url("/fonts/YesevaOne-Regular.ttf");
}


/*Общее*/
body {
    margin: 0;
    font-family: NunitoSans-Regular, sans-serif;
    font-weight: 400;
    color: #181818;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: YesevaOne-Regular, serif;
    text-transform: uppercase;
    font-weight: 400;
}
h1 {
    font-size: 40px;
    line-height: 53px;
}
h2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}
h3 {
    font-size: 20px;
    line-height: 28px;
}
h4 {
    font-size: 18px;
    line-height: 25px;
}
h5 {
    font-size: 14px;
    line-height: 19px;
}
.button {
    background-color: #E3B873;
    color: #FFFFFF;
    font-family: NunitoSans-Italic, sans-serif;
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(227, 184, 115, .3);
}
section {
    width: 100%;
}
.section-container {
    max-width: 1263px;
    margin: 0 auto;
}
.input {
    box-sizing: border-box;
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, .3);
    height: 30px;
}
.input::placeholder {
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}


/*Шапка и подвал*/
header, footer {
    background-color: #131313;
    font-size: 11px;
    line-height: 15px;
}
.header-container, .footer-container {
    margin: 0 90px;
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.li-menu {
    display: inline;
    list-style-type: none;
    padding-right: 47px;
}
.li-menu:last-child {
    padding-right: 0;
}
.a-header, .section-two p {
    color: #FFFFFF;
}
.comp, .current-a, .a-header:hover, .tel, .rostov, .section-two h2, .section-two h4, .places>h5:first-child {
    color: #E3B873;
}
.tel {
    text-decoration: underline;
}
.button-header {
    width: 161px;
    height: 37px;
    font-size: 11px;
    line-height: 15px;
}


/*Секции*/
.section-one {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/media/backfirst.jpg");
    background-size: 100% auto;
    height: 707px;
}
.section-one-container {
    color: #FFFFFF;
    padding-top: 194px;
}
.section-one-container>h1 {
    margin-top: 0;
}
.section-one-container>p {
    font-size: 22px;
    line-height: 36px;
}
.button-section-one {
    width: 207px;
    height: 51px;
}
.other-button {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    box-shadow: none;
    background: none;
    margin-left: 20px;
}


.section-two {
    background-color: #131313;
    height: 1074px;
}
.section-two-container {
    padding-top: 107px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.s2c-left>p {
    font-size: 14px;
    line-height: 27px;
}
.table {
    padding: 25px 0 80px;
    display: flex;
}
.row {
    margin-right: 70px;
}
.table h4 {
    margin: 0;
}
.table p {
    font-size: 13px;
    line-height: 21px;
}
.table .row:last-child div:first-child p {
    margin-bottom: 35px;
}
.chose-place {
    color: rgba(255, 255, 255, .3);;
}
.left-arrow {
    margin-right: 30px;
}
.bull-center {
    margin: 0 17px;
}
.right-arrow {
    margin-left: 30px;
}
.places {
    display: flex;
}
.places>h5 {
    color: rgba(255, 255, 255, .3);
    margin-right: 60px;
}
.current-place {
    padding-bottom: 6px;
    border-bottom: 1px solid #E3B873;
}


.section-three {
    margin-top: -350px;
}
.section-three-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-three-container h3 {
    color: #FFFFFF;
}
.svg {
    display: flex;
}
.svg img:nth-child(2) {
    margin: 0 9px;
}
.video {
    margin-top: 30px;
    width: 817px;
    height: 434px;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("/media/video.png");
    text-align: center;
    line-height: 579px;
}


.section-four-container {
    text-align: center;
}
.section-four-container p {
    font-size: 18px;
    line-height: 37px;
    color: #363636;
}
.div-input {
    display: flex;
    justify-content: center;
}
.div-input label {
    display: inline-flex;
    flex-direction: column;
    width: 231px;
}
.div-input>label:nth-child(2) {
    margin: 0 49px 0 58px;
}
.label-input {
    align-self: flex-start;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.button-submit {
    width: 200px;
    height: 51px;
}
.div-checkbox {
    margin: 39px 0 75px;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #FFFFFF;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.text {
    font-size: 14px;
    line-height: 23px;
}


.section-five-container {
    text-align: center;
    padding-bottom: 242px;
}
.type-of-repair {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.cell {
    width: 392px;
    height: 421px;
    margin-bottom: 240px;
}
.Redecorating {
    background: url("/media/redecorating.jpg");
}
.Overhaul {
    background: url("/media/overhaul.jpg");
}
.Designer-Repair {
    background: url("/media/designer.jpg");
}
.white-wall {
    background: #FFFFFF;
    width: 330px;
    height: 286px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .03);
    margin: 294px 31px -159px;
    padding-left: 34px;
    padding-top: 25px;
    box-sizing: border-box;
    text-align: start;
}
.white-wall h4 {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    text-transform: none;
}
.white-wall ul {
    padding-left: 15px;
    margin: 10px 0;
}
.button-sale {
    margin-left: -34px;
    margin-bottom: -28px;
    width: 228px;
    height: 54px;
    font-family: YesevaOne-Regular, sans-serif;
    font-size: 18px;
    line-height: 25px;
}
.TOR-last-container {
    margin-top: 230px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.back-drawing {
    position: absolute;
    top: -65px;
    left: 0;
    z-index: -1;
}
.number-div {
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.number-block {
    display: flex;
    align-items: center;
}
.number {
    width: 42px;
    height: 42px;
    font-family: YesevaOne-Regular, serif;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0 5px 15px rgba(227, 184, 115, .15);
    border-radius: 50%;
}
.number-text {
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    text-align: left;
    margin-left: 9px;
}
.form {
    max-width: 506px;
    max-height: 509px;
    background-color: #131313;
    margin-left: 210px;
    padding: 28px 49px 27px;
}
.form .div-input {
    margin-bottom: 48px;
}
.form .div-input:nth-child(4) {
    margin-bottom: 0;
}
.form .div-checkbox {
    text-align: left;
    margin: 16px 0 39px;
}
.title-p {
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 39px;
}
.div-input label.black-form-label {
    width: 408px;
}
.black-form-label-input {
    color: rgba(255, 255, 255, .5);
}
.black-form-input {
    width: 408px;
    background: none;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    height: 30px;
}
.black-form-input::placeholder {
    color: #FFFFFF;
}
.black-form-text {
    color: #FFFFFF;
}
.black-form-div-button {
    text-align: end;
}
.black-form-button {
    width: 213px;
    height: 51px;
}
.save {
    margin-top: 39px;
    margin-left: 241px;
    display: flex;
    align-items: center;
}
.save-svg {
    width: 72px;
    height: 72px;
    background-color: #E3B873;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(237, 192, 120, .2);
    line-height: 6;
}
.save-text {
    color: #E3B873;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0 3px 10px rgba(227, 184, 115, .15);
    text-align: start;
    margin-left: 25px;
}


.section-six {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .9) 100%), url("/media/backsecond.png");
    background-size: 100% auto;
    height: 864px;
}
.section-six-container {
    display: flex;
    justify-content: space-between;
    padding-top: 137px;
}
.description {
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.description h2 {
    color: #E3B873;
    margin: 0 0 50px;
}
.current-desc {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
.description span {
    margin-bottom: 10px;
}
.photo {
    display: flex;
    margin-top: -178px;
}
.foto-column:first-child {
    margin-right: 40px;
}
.foto-column:last-child {
    position: relative;
    bottom: 80px;
}
.foto-cell {
    margin-bottom: 40px;
}


.section-seven-container {
    padding-top: 110px;
    text-align: center;
}
.section-seven-container h3 {
    margin: 0;
}
.clients-svg {
    margin: 13px 0 24px;
}
.section-seven-container p {
    font-size: 18px;
    line-height: 29px;
    color: #363636;
    margin: 0;
}
.clients {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}
.client {
    box-sizing: border-box;
    max-width: 376px;
    max-height: 455px;
    padding: 24px 32px 0 20px;

}
.Sergey {
    margin-left: 54px;
    margin-right: 54px;
}
.information {
    margin-bottom: 65px;
}
.name {
    font-family: YesevaOne-Regular, serif;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}
.name img {
    margin-right: 23px;
}
.name span {
    text-align: start;
}
.information p {
    text-align: start;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}
.client-div-button {
    width: 294px;
    height: 54px;
    display: flex;
}
.button-client {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.button-client span {
    font-family: YesevaOne-Regular, serif;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.button-client:nth-child(odd) {
    width: 135px;
}
.button-client:nth-child(even) {
    border-left: 1px solid #FFFFFF;
    width: 158px;
}
.frame {
    position: relative;
    height: 355px;
}
.frame img {
    position: absolute;
    z-index: -1;
    top: -405px;
    overflow-x: hidden;
}
.frame img:first-child {
    left: -90px;
}
.frame img:last-child {
    right: -90px;
    transform: scale(-1, 1);
}


.section-eight-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.questions-form {
    box-sizing: border-box;
    background-color: #181818;
    width: 883px;
    height: 445px;
    margin-top: -222px;
    margin-bottom: -223px;
    z-index: 1;
    padding: 34px 183px;
}
.questions-form h3 {
    color: #FFFFFF;
    margin: 0 0 46px;
}
.questions-form-label-input {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, .5);
}
.questions-form-input {
    width: 231px;
    background: none;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    height: 30px;
}
.questions-form-input::placeholder {
    color: #FFFFFF;
}
.questions-form-div-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}
.questions-form-div-input label:nth-child(2) {
    margin: 0;
}
.question, label.question-label {
    width: 517px;
}
.question-label-div-input {
    margin-bottom: 47px;
}
.questions-form-text {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.questions-form-div-checkbox {
    margin-bottom: 25px;
}
.questions-form-button {
    margin: 25px 0 0;
}


.section-nine {
    background: linear-gradient(180deg, rgba(24, 24, 24, .9) 3.47%, rgba(24, 24, 24, .72) 100%), url("/media/backthird.png");
    background-size: 100% auto;
    height: 954px;
}
.section-nine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 275px;
}
.section-nine-container h3 {
    color: #E3B873;
    margin: 0 0 26px;
}
.SNC-svg img:first-child {
    margin-right: 15px;
}
.map {
    margin-top: 43px;
    width: 925px;
    height: 465px;
}
.mobile-cp-gallery, .checkbox-mobile, .mobile-map {
    display: none;
}

@media screen and (max-width: 1300px) {
    header, main {
        min-width: 375px;
    }
    .not-mobile, .chose-place, .s2c-right, .TOR-last-container, .description>span, .photo,
    .foto-column:last-child, .section-seven-container, .map, footer, .checkbox-desktop {
        display: none;
    }
    .div-input, .type-of-repair {
        flex-direction: column;
    }
    .header-container {
        margin: 0 18px;
        height: 57px;
    }
    .tel {
        color: #FFFFFF;
        text-decoration: none;
    }
    .section-one, .section-two, .section-six, .section-eight, .section-nine {
        height: auto;
    }
    .mobile-cp-gallery, .mobile-desc-gallery, .video, .mobile-map {
        width: 90vw;
        max-width: 817px;
        min-width: 340px;
    }


    .section-one-container {
        width: 375px;
        padding: 85px 18px 61px;
        box-sizing: border-box;
    }
    h1 {
        font-size: 23px;
        line-height: 31px;
    }
    .section-one-container>p {
        font-size: 14px;
        line-height: 19px;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .button-section-one {
        width: 339px;
    }
    .section-one-container>.button-section-one:nth-child(3) {
        margin-bottom: 26px;
    }
    .other-button {
        margin-left: 0;
    }


    .section-two-container {
        justify-content: center;
        align-items: normal;
        padding: 36px 18px 0;
        box-sizing: border-box;
    }
    .s2c-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin: 0;
    }
    .s2c-left>p {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        margin: 30px 0 0;
    }
    .mobile-cp-gallery, .mobile-desc-gallery {
        margin: 70px 0 36px;
        height: 63vw;
        max-height: 580px;
        min-height: 241px;
        background: url("/media/mobile-cp-gallery.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-cp-gallery img, .mobile-desc-gallery img {
        width: 10vw;
        height: 10vw;
        max-width: 92px;
        max-height: 92px;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .table {
        padding: 0;
    }
    h4 {
        font-size: 14px;
        line-height: 19px;
    }
    .table p {
        font-size: 11px;
        line-height: 15px;
    }
    .table .row:first-child div:first-child p {
        margin-bottom: 40px;
    }
    .table .row:last-child div:first-child p {
        margin-bottom: 55px;
    }


    .section-three {
        margin-top: 0;
        background-color: #131313;
    }
    .section-three-container>h3 {
        font-size: 22px;
        line-height: 30px;
        margin-top: 60px;
    }
    .video {
        margin-top: 40px;
        height: 48vw;
        max-height: 434px;
        min-height: 207px;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video img {
        width: 16vw;
        height: 16vw;
        max-width: 145px;
        max-height: 145px;
    }


    .section-four {
        background-color: #131313;
    }
    .section-four-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-four-container>div:first-child>img {
        margin: 28px 0 5px;
    }
    .section-four-container p {
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 80px;
        padding: 0 18px 0;
    }
    .checkbox-mobile {
        display: block;
    }
    .div-input {
        width: 375px;
        padding: 0 18px 0;
        box-sizing: border-box;
        margin: 0;
    }
    .div-input label.label-mobile {
        width: 339px;
    }
    .div-input label.label-mobile:nth-child(1) {
        margin-bottom: 65px;
    }
    .div-input label.label-mobile:nth-child(2) {
        margin: 0;
    }
    .label-input-mobile {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, .5);
    }
    .input-mobile {
        width: 339px;
        height: 31px;
        background: none;
        border-bottom: 1px solid rgba(255, 255, 255, .7);
        font-size: 14px;
        line-height: 19px;
    }
    .input-mobile::placeholder {
        color: #FFFFFF;
    }
    .checkbox-mobile {
        margin: 26px 0 37px;
    }
    .checkbox-mobile>label.label-mobile:nth-child(1) {
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    .text-mobile {
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
        width: 300px;
    }
    .button-submit-mobile {
        width: 339px;
        position: relative;
        top: 25px;
    }


    .section-five-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .section-five-container h3 {
        margin: 85px 0 17px;
    }
    .type-of-repair {
        width: 375px;
        box-sizing: border-box;
        margin: 40px 0 0;
        padding: 0 18px 0;
        align-self: center;
    }
    .cell {
        width: 339px;
        height: 365px;
        margin-bottom: 178px;
    }
    .white-wall {
        width: 270px;
        height: 241px;
        padding-left: 31px;
        padding-top: 21px;
        margin: 223px 69px -99px 0;
        font-size: 13px;
        line-height: 22px;
    }
    .white-wall h4 {
        font-size: 15px;
        line-height: 21px;
    }
    .white-wall ul {
        margin-bottom: 15px;
    }
    .button-sale {
        margin-left: -30px;
        width: 190px;
        height: 40px;
        font-size: 15px;
        line-height: 21px;
    }


    .section-six {
        background: none;
    }
    .section-six-container {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
    }
    .mobile-desc-gallery {
        margin: 0;
        height: 64vw;
        max-height: 581px;
        min-height: 242px;
        background: url("/media/wildest-fantasies.png");
        background-size: 100% 100%;
        z-index: 100;
    }


    .section-eight {
        background-color: #181818;
        margin-top: -121px;
    }
    .questions-form {
        margin: 0;
        padding: 175px 18px 0;
        width: 375px;
        height: auto;
    }
    .questions-form h3 {
        margin-bottom: 55px;
    }
    .questions-form-div-input, .question-label-div-input {
        padding: 0;
        width: 339px;
    }
    .questions-form-input {
        width: 339px;
    }
    .div-input label.label-question-mobile {
        width: 339px;
    }
    .div-input label.label-question-mobile {
        margin-bottom: 65px;
    }
    .questions-form-div-checkbox {
        margin: -43px 0 67px;
    }
    .questions-form-button {
        margin: 0;
    }
    .questions-form-button>.button-submit-mobile {
        position: static;
    }


    .section-nine {
        background: #181818;
    }
    .section-nine-container {
        padding: 46px 0 49px;
    }
    .mobile-map {
        display: block;
        background: url("/media/mobile-map.png");
        background-size: 100% 100%;
        width: 90vw;
        height: 68vw;
        max-width: 817px;
        max-height: 613px;
        min-width: 340px;
        min-height: 255px;
    }
    .section-nine-container h3 {
        font-size: 18px;
        line-height: 25px;
        margin: 42px 0 24px;
        padding: 0 18px 0;
    }
}

@media screen and (min-width: 1300px) {
    .header-container, .footer-container {
        width: 1300px;
        margin: 0 auto;
    }
}